$primary-color: #FBA5F6;
$primary-color2: #ec7ce5;
$primary-color-hover: #FCA8F7;

$font-light: #fff;
$font-grey: #9e9e9e;
$font-dark: #000;

$border-primary: #282828;

$background-primary: #fff;
$background-secondary: #FBA5F6;
$background-dark: #000;
$background-light: #fff;

$danger: #b69494;
